.root {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.sandbox {
    -fx-font-size: 0.65em;
}

.combo-box-popup .scroll-bar:vertical,
.scroll-bar:horizontal {
    -fx-opacity: 0;
}

.root .button {
    -fx-font-size: 0.9em;
}

.label {
    -fx-font-size: 1.2em;
}